@model Dashboard_MVC.Views.Models.DashboardViewModel
@using Business.Helpers

@foreach(var project in Model.CreateProject.Projects.OrderBy(p => p.DateCreated).Reverse())
{
    <div class="dashboard-card" data-status="@project.IsCompleted">
        @{
            ViewData["ProjectId"] = project.Id;
            ViewData["IsCompleted"] = project.IsCompleted;

            var daysLeft = (project.DateDue - DateTime.Now.Date).Days;
        }
        @await Html.PartialAsync("Partials/_projectMenu")
        
        <div class="card-header">
            <div class="project-img-container">
                <img
                    class="project-img"
                    src="~/img/Image.svg"
                    alt=""
                />
            </div>
            <div class="project-name-container">
                <h4>@project.ProjectName</h4>
                <h5>@project.ClientName</h5>
            </div>

            <div class="project-menu-btn">
                
                <i>
                    <img alt="menu dots" src="~/img/dots-horizontal-svgrepo-com.svg"/>
                </i>
            </div>
        
            
        </div>
        <p class="project-description">
            @project.Description
        </p>
        <p class="project-price">$@project.Price</p>
        <div class="card-footer">
            <div class="time-remaining @(project.IsCompleted ? "success" : (daysLeft <= 5 ? "danger" : ""))">
                <img alt="time-icon" src="@(project.IsCompleted ? Url.Content("~/img/checkmark-circle-svgrepo-com.svg") : Url.Content("~/img/clock-two-svgrepo-com.svg"))"/>
                @(project.IsCompleted ? "Completed" : Countdown.GetTimeCountdown(project.DateCreated, project.DateDue))
            </div>
            <div class="members">
                
                    @foreach (var member in project.Members)
                    {
                        <div class="members-img-container">
                            <img
                                src=@(string.IsNullOrEmpty(member.ImageUrl) ?  Url.Content("~/img/user-placeholder.svg") : member.ImageUrl)
                                alt=""
                                class="user-profile"
                             />
                        
                            <div class="name-hover">@member.FirstName</div>
                        </div>
                    }
                
            </div>
        </div>
    </div>

}

